.footerbg{
    background-image: url('../../../public/footerbg.png');
    background-size: 105vw 60vh;
    background-repeat: no-repeat;
    background-position: top center;
}
.beaches{
    background-image: url('../../../public/beaches.png');
    background-size: cover;
    background-repeat: no-repeat;

}
.paris{
    background-image: url('../../../public/paris.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.prague{
    background-image: url('../../../public/prague.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.usa{
    background-image: url('../../../public/usa.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.china{
    background-image: url('../../../public/china.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.bali{
    background-image: url('../../../public/bali.png');
    background-size: cover;
    background-repeat: no-repeat;
}