@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: Merriweather-sans;
  src: url('../../public/fonts/MerriweatherSans.ttf');
}
@font-face {
  font-family: Merriweather;
  src: url('../../public/fonts/Merriweather.ttf');
}
@font-face {
  font-family: Poppins;
  src: url('../../public/fonts/Poppins.ttf');
}
@font-face {
  font-family: Montserrat;
  src: url('../../public/fonts/Montserrat.ttf');
}
@font-face {
  font-family: Exo;
  src: url('../../public/fonts/Exo.ttf');
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --padding-inline: 5vw;
  --primary: #ca1c26;
}
.trendingcard{
  /* flex-shrink: 0; */
}
.trendingcard:nth-child(even){
  align-self: end;
}
.cardtitle{
  font-family: Merriweather-sans;
}

.blurred-background {
  transition: filter 0.3s ease;
}


.blurred-background {
  transition: filter 0.3s ease;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it is above other content */
}

.modal-overlay .EnquiryForm {
  filter: none; /* Ensure the form itself is not blurred */
}

.noScroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noScroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.rdp {
  --rdp-cell-size: 30px !important;
  --rdp-caption-font-size: 16px !important;
  --rdp-background-color: #F9EDE4 !important;
  --rdp-accent-color: #CA1C26!important;
  margin: 10px !important;
}
.rdp-day{
  font-size: 14px !important;
}

.rdp-nav_button svg{
  height: 12px !important;
  width: 12px !important;
}

.css-7o8aqz-MuiSlider-rail{
  background-color: #b6b6b6 !important;
}