.banner {
  min-height: 400px;
  height: fit-content;
  margin: auto;
  padding: 30px 20px 20px 50px;
  width: 100%;
  object-fit: cover;
  position: relative;
  font-family: var(--primary-font);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}
.banner img {
  max-height: 400px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.morph {
  max-width: 50rem;
  width: 100%;
  padding: 30px 20px;
  display: grid;
  place-items: center;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  border-radius: 5px;
}
.innerMorph {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.innerMorph h2 {
  font-size: 31.97px;
  font-weight: 700;
}

.innerMorph h3 {
  font-size: 24.75px;
  font-weight: 400;
}

.innerMorph p {
  font-size: 17.53px;
  font-weight: 300;
  line-height: 26.3px;
  display: flex;
  flex-direction: column;
  font-family: GT-Pressura;
}
.innerMorph p span{
  margin-bottom: 10px;
}

.innerMorph button {
  background-color: white;
  color: black;
  width: fit-content;
  padding: 15.47px 25.78px;
  font-size: 18.56px;
  border-radius: 5px;
}
@media (max-width: 700px) {
  .banner {
    height: auto;
    width: 100%;
    object-fit: cover;
    position: relative;
    padding: 30px 20px 20px 20px;
  }
  .morph {
    padding: 10px 20px;
    display: grid;
    place-items: center;
  }
  .innerMorph h2 {
    font-size: 20px;
  }

  .innerMorph h3 {
    font-size: 18px;
  }

  .innerMorph p {
    font-size: 14px;
    line-height: 20px;
  }
  .innerMorph button {
    background-color: white;
    color: black;
    width: fit-content;
    padding: 10px 20px;
    font-size: 0.7rem;
    border-radius: 5px;
  }
}
