/* top nav css here  */

.top_nav_main {
  background-color: black;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--padding-inline);
}

.top_nav_main > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 8px;
}
.top_nav_main > div > span {
  background-color: white;
  padding: 6px;
  border-radius: 100%;
}
.top_nav_main > div img {
  height: 17px;
  width: 17px;
}

/* navbar css here  */
.container {
  height: 11vh;
  display: flex;
  border-bottom: 1px solid rgba(16, 25, 53, 0.1);
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--padding-inline);
}

.container img {
  height: 10vh;
  width: auto;
  /* border: 1px solid red; */
}

.navmenu {
  /* border: 1px solid rgb(204, 255, 0); */
  display: grid;
  place-items: center;
  width: 100%;
  /* border: 1px solid red; */
}
.navmenu span {
  display: flex;
}

.navmenu h5 {
  color: var(--primary);
}

.btn_section {
  width: max-content;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.btn_section button:first-child {
  background-color: var(--primary);
  color: white;
}

.btn_section button:last-child {
  border: 1px solid black;
}
.btn_section button:last-child img {
  border: 1px dotted black;
  border-radius: 100%;
}

.btn_section button {
  display: flex;
  gap: 5px;
  height: fit-content;
  width: max-content;
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
  font-size: 0.9rem;
  border-radius: 5px;
}
.btn_section p {
  white-space: nowrap;
}

.btn_section button img {
  height: 25px;
  width: 25px;
}

/* navmenu starts here  */

.nav_menu_main {
  height: fit-content;
  padding-inline: var(--padding-inline);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
  padding-block: 1vh;
}

.nav_menu_main img {
  height: 30px;
  width: 30px;
}

.places_images {
  display: flex;
  gap: 2.5vw;
  max-width: 70vw;
  overflow-x: auto;
}
.places_images span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.menu_btn_section span {
  border: 1px solid black;
  border-radius: 3px;
  padding: 2px 8px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_btn_section button:first-child {
  background-color: var(--primary);
  color: white;
  padding: 2px 7px;
  border-radius: 3px;
}

@media (max-width: 700px) {
  .top_nav_main p {
    font-size: 0.6rem;
  }

  .top_nav_main > div > span {
    background-color: white;
    padding: 4px;
    border-radius: 100%;
  }
  .top_nav_main > div img {
    height: 13px;
    width: 13px;
  }

  /* navbar */

  .navmenu {
    display: none;
  }

  .btn_section button {
    display: flex;
    gap: 5px;
    height: fit-content;
    width: max-content;
    align-items: center;
    justify-content: center;
    padding: 2px 5px;
    font-size: 0.8rem;
    border-radius: 5px;
  }
  .btn_section p {
    white-space: nowrap;
  }

  .btn_section button img {
    height: 20px;
    width: 20px;
  }

  /* navmenu  */

  .nav_menu_main p {
    font-size: 0.75rem;
  }

  .nav_menu_main img {
    height: 20px;
    width: 20px;
  }
  .menu_btn_section {
    display: none;
  }
}
