/* top nav css here  */

.top_nav_main {
  background-color: black;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 13vw;
}

.top_nav_main > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 8px;
  font-size: 13px;
  font-family: var(--primary-font);
}
.top_nav_main p {
  letter-spacing: 1px;
}
.top_nav_main > div > span {
  background-color: white;
  padding: 6px;
  border-radius: 100%;
}
.top_nav_main > div img {
  height: 17px;
  width: 17px;
}

/* navbar css here  */
.container {
  height: 79px;
  display: flex;
  border-bottom: 1px solid rgba(16, 25, 53, 0.1);
  justify-content: space-between;
  align-items: center;
  padding-inline: 13vw;
}

.container img {
  height: 70px;
  width: auto;
  /* border: 1px solid red; */
}

.navmenu {
  /* border: 1px solid rgb(204, 255, 0); */
  display: grid;
  place-items: center;
  width: fit-content;
  /* border: 1px solid red; */
}
.navmenu span {
  font-size: clamp(13px, calc(13px + 0.0667 * (100vw - 1440px)), 16px);
  display: flex;
  font-family: var(--primary-font);
}

.navmenu h5 {
  color: var(--primary);
}

.btn_section {
  width: max-content;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  font-family: var(--primary-font);
}

.btn_section button:first-child {
  background-color: var(--primary);
  color: white;
  font-weight: 400;
}

.btn_section button:last-child {
  border: 1px solid black;
  font-weight: 700;
}
.btn_section button:last-child img {
  border: 1px dotted black;
  border-radius: 100%;
}

.btn_section button {
  display: flex;
  gap: 5px;
  height: fit-content;
  width: max-content;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  font-size: 0.9rem;
  border-radius: 5px;
}
.btn_section p {
  white-space: nowrap;
}

.btn_section button img {
  height: 25px;
  width: 25px;
  mix-blend-mode: luminosity;
}

/* navmenu starts here  */

.nav_menu_main {
 
  padding-inline: 13vw;
  display: grid;
  grid-template-columns: 80% 1fr;
  align-items: center;
  column-gap: 62px;
  padding-block: 1vh;
}

.nav_menu_main img {
  height: 22px;
  width: 22px;
}

/* .places_images {
  display: flex;
  gap: 2vw;
  max-width: 55vw;
  overflow-x: auto;
} */


.places_images img {
  height: 35px;
  width: 35px;
}
.places_images::-webkit-scrollbar {
  display: none;
}
.places_images span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.places_images span p {
  white-space: nowrap;
  font-size: 0.9rem;
  font-family: var(--secondary-font);
}
.menu_btn_section {
  border: 1px solid;
  padding: 5px 6px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.menu_btn_section span {
  border: 1px solid black;
  border-radius: 3px;
  padding: 0px 0px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}
.menu_btn_section button:first-child {
  background-color: var(--primary);
  color: white;
  padding: 2px 7px;
  border-radius: 3px;
}
 
.active {
  background-color: var(--primary);
  color: white;
  transition: all 0.3s linear;
  border-radius: 3px;
}
.inactive {
  background-color: transparent;
  color: black;
  transition: all 0.3s linear;
}
.menu_btn_section_sm {
  display: none;
}

@media (max-width: 700px) {
  .top_nav_main p {
    font-size: 0.6rem;
  }
  .top_nav_main {
    padding-inline: 30px;
  }

  .container {
    padding-inline: 30px;
  }
  .container img {
    height: 48px;
    width: auto;
    /* border: 1px solid red; */
  }

  .top_nav_main > div > span {
    background-color: white;
    padding: 4px;
    border-radius: 100%;
  }
  .top_nav_main > div img {
    height: 13px;
    width: 13px;
  }

  .btn_section > button:nth-child(2) {
    display: none;
  }

  .navmenu {
    display: none;
  }
 
  

  .btn_section button {
    display: flex;
    gap: 5px;
    height: fit-content;
    width: max-content;
    align-items: center;
    justify-content: center;
    padding: 2px 5px;
    font-size: 0.7rem;
    border-radius: 5px;
  }
  .btn_section p {
    white-space: nowrap;
  }

  .btn_section button img {
    height: 17px;
    width: 17px;
  }

  /* navmenu  */

  .nav_menu_main {
    padding-inline: 30px;
  }
  .nav_menu_main p {
    font-size: 0.75rem;
  }

  .nav_menu_main img {
    height: 20px;
    width: 20px;
  }
  .menu_btn_section {
    display: none;
  }
  .menu_btn_section_sm {
    display: grid;
  }
  .menu_btn_section_sm span {
    border: 1px solid black;
    border-radius: 3px;
    padding: 0px 0px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    font-size: 0.8rem;
  }

  .menu_btn_section_sm a {
    padding-inline: 3px;
  }
}


