.plantrip {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url("../../../public/boat.png");
  background-repeat: no-repeat;
  background-size: 65vw 100vh;
  background-position: center;
}
.roombutton {
  filter: drop-shadow();
}

.fadeInLeft {
  animation-name: fadeInleft;
  animation-duration: 1s;
}
.group_selection_btn_wrapper{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.group_selection_btn{
  width: fit-content;
}
.thankyou_heading{
  font-size: 50px;
  font-weight: 700;
}
.search_for_destinations {
  max-width: 705px;
  width: 100%;
  height: 49px;
}
.people_type_wrapper_outer{
  margin-top: 39px;
}
.people_type_wrapper{
  margin-top: 65px;
}
.close_plan_tip{
  background-color: #FADDDD;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.close_plan_tip:hover{
  background-color: #FFB5B5;
}
.styacount_wrapper {
  min-height: 158px;
  height: 100%;
  max-width: 140px;
  width: 100%;
}
@keyframes fadeInleft {
  0% {
    /* opacity: 0; */
    transform: translateX(100%);
  }

  100% {
    /* opacity: 1; */
    transform: translateX(0%);
  }
}

.fadeOutLeft {
  animation-name: fadeOutleft;
  animation-duration: 1s;
}

@keyframes fadeOutleft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@media (max-width: 570px) {
  .plantrip {
    background-image: url("../../../public/boat.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
