.fadeInT {
  animation-name: fadeInTop;
  animation-duration: 1s;
}

@keyframes fadeInTop {
  0% {
    /* opacity: 0; */
    transform: translateY(-100%);
  }

  100% {
    /* opacity: 1; */
    transform: translateY(0%);
  }
}

.fadeOutT {
  animation-name: fadeOutTop;
  animation-duration: 1s;
}

@keyframes fadeOutTop {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
