.footerbg{
    background-image: url('../../../public/footerbg.png');
    background-size: 105vw 60vh;
    background-repeat: no-repeat;
    background-position: top center;
}
.beaches{
    background-image: url('../../../public/beaches.png');
    background-size: cover;
    background-repeat: no-repeat;

}
.paris{
    background-image: url('../../../public/paris.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.prague{
    background-image: url('../../../public/prague.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.usa{
    background-image: url('../../../public/usa.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.china{
    background-image: url('../../../public/china.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.bali{
    background-image: url('../../../public/bali.png');
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width:1024px) {
    .flex.justify-between.w-\[60\%\].xsm\:w-\[100\%\] {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }
}

@media (max-width:768px) {
    .xsm\:my-5 {
        width: 100%;
    }
    .w-\[5rem\] {
        width: 100%;
    }
}
@media (max-width:520px) {
    .flex.justify-between.w-\[60\%\].xsm\:w-\[100\%\] {
        grid-template-columns: 1fr;
    }
    .footerbg .justify-between{
        padding: 0;
    }
    .footerbg .flex-col{
        padding: 5px;
    }
}